@media (max-width: 1199px) {
  header nav.navbar li a {
    font-size: 1.1em;
  }
  #titlescreen .titlescreen {
    height: 370px;
  }
  #titlescreen .titlescreen h1 {
    margin-top: 85px;
  }
  #titlescreen .titlescreen .titleimage {
    height: 370px;
  }
  .all-lessons br {
    display: inline;
  }
  .all-lessons .lessoninfo {
    height: 165px;
    margin-bottom: 20px;
  }
  .all-lessons .indiv {
    padding: 0;
    text-align: center;
    font-size: 0.9em;
  }
  .all-lessons button {
    font-size: 0.9em;
  }
}
@media (max-width: 991px) {
  header .custom-logo-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFE94A;
  }
  header nav.navbar {
    width: 100%;
  }
  header nav.navbar li a {
    font-size: 1.1em;
    padding-left: 10px;
  }
  header nav.navbar ul#primary-menu li:first-child a {
    padding-left: 15px;
  }
  #titlescreen {
    margin-top: 179px;
  }
  #titlescreen .titlescreen {
    height: 320px;
  }
  #titlescreen .titlescreen h1 {
    margin-top: 65px;
    font-size: 2.2em;
  }
  #titlescreen .titlescreen h3 {
    font-size: 1.5em;
  }
  #titlescreen .titlescreen p {
    font-size: 1.2em;
  }
  #titlescreen .titlescreen .titleimage {
    height: 320px;
  }
  #numbers p.number {
    font-size: 60px;
  }
  #lessons .hexagon {
    width: 750px;
  }
  #lessons .hexagon .row1,
  #lessons .hexagon .row2,
  #lessons .hexagon .row3 {
    width: 100%;
    height: 182px;
  }
  #lessons .hexagon .row2,
  #lessons .hexagon .row3 {
    margin-top: -9px;
  }
  #lessons .hexagon .hex {
    width: 137px;
    height: 78px;
  }
  #lessons .hexagon .odd {
    margin-top: 90px;
  }
  #lessons .hexagon .hex.hex-gap {
    margin-left: 32px;
  }
  #lessons .hexagon p {
    font-size: 14px;
  }
  #answer-callback input {
    width: 30%;
  }
  #answer-callback button {
    width: 20%;
  }
  .all-lessons h2 {
    margin-top: 20px;
  }
  .all-lessons .indiv {
    font-size: 0.8em;
  }
  .all-lessons .description {
    font-size: 0.9em;
  }
  .all-lessons .description li {
    margin-bottom: 3px;
    padding-right: 5px;
  }
  .all-lessons p.description,
  .all-lessons .lessons-by-week {
    font-size: 0.9em;
  }
  .all-lessons .lessons-by-week {
    padding-right: 0;
  }
  .all-lessons .text-right {
    padding-left: 2%;
    padding-right: 0;
  }
  .all-lessons .text-left {
    padding-right: 2%;
    padding-left: 0;
  }
  .all-lessons button {
    font-size: 0.8em;
  }
  #map .contact div {
    padding: 0;
  }
  #map .contact a {
    font-size: 0.9em;
  }
  #map .contact a.email {
    font-size: 0.8em;
  }
}
@media (max-width: 767px) {
  .english-page {
    background: url('../img/background_lessons_mobile.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  header nav.navbar {
    border-top: none;
    border-bottom: 1px solid #FFE94A;
    text-align: center;
  }
  header nav.navbar .navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
  }
  header nav.navbar li a {
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  header nav.navbar ul#primary-menu {
    border-bottom: 1px solid #FFE94A;
  }
  #titlescreen {
    margin-top: 110px;
  }
  #titlescreen .titlescreen {
    height: 250px;
    text-align: center;
    background: url('../img/head-bg.jpg') no-repeat;
    background-size: 100% 100%;
  }
  #titlescreen .titlescreen h1 {
    margin-top: 35px;
    font-size: 2em;
  }
  #titlescreen .titlescreen h3 {
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #titlescreen .titlescreen p {
    font-size: 1.1em;
  }
  #titlescreen .titlescreen .mobile-head-bg {
    height: 250px;
    background: #FFE94A;
    opacity: 0.85;
  }
  #titlescreen .titlescreen .titleimage {
    display: none;
  }
  #advantage .title-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #advantage h2 {
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  #advantage .logo {
    display: block;
    float: none;
    margin: 0 auto;
  }
  #advantage p {
    padding-right: 0;
    text-align: justify;
  }
  #numbers .bordered {
    border-right: none;
    border-bottom: 1px solid #aaaaaa;
  }
  #numbers .numblock {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #town-water p {
    font-size: 16px;
  }
  #lessons .bg-transparent {
    padding-bottom: 0px;
    padding-right: 0;
  }
  #lessons h2 {
    margin-bottom: 10px;
    font-size: 1.7em;
  }
  #lessons .hexagon {
    width: 320px;
    float: none;
    padding-bottom: 0;
  }
  #lessons .hexagon .row1,
  #lessons .hexagon .row2,
  #lessons .hexagon .row3 {
    float: none;
    width: 300px;
  }
  #lessons .hexagon .row2,
  #lessons .hexagon .row3 {
    margin-top: 0px;
  }
  #lessons .hexagon .row1 {
    margin: 0 auto;
    height: 250px;
  }
  #lessons .hexagon .row2 {
    height: 800px;
    margin: 150px auto 0;
  }
  #lessons .hexagon .hex {
    width: 150px;
    height: 86px;
    float: none;
    margin-top: 0;
    margin-left: 70px;
  }
  #lessons .hexagon .odd {
    margin-top: 0;
  }
  #lessons .hexagon .hex.hex-gap {
    margin-left: 0;
  }
  #lessons .hexagon p {
    font-size: 16px;
  }
  #lessons .hexagon .children,
  #lessons .hexagon .shipping,
  #lessons .hexagon .skype,
  #lessons .hexagon .native,
  #lessons .hexagon .speaking {
    margin-top: 70px;
  }
  #answer-callback {
    padding-bottom: 20px;
  }
  #answer-callback h2 {
    font-size: 1.5em;
  }
  #answer-callback input {
    display: block;
    width: 80%;
    font-size: 1em;
    font-weight: normal;
    margin: 10px auto;
  }
  #answer-callback button {
    display: block;
    width: 40%;
    margin: 20px auto 0;
  }
  .all-lessons {
    min-height: 540px;
  }
  .all-lessons br {
    display: inline;
  }
  .all-lessons .lessoninfo {
    border-bottom: none;
  }
  .all-lessons .description {
    border-right: none;
    font-size: 1.2em;
  }
  .all-lessons .description li {
    text-align: left;
  }
  .all-lessons p.description,
  .all-lessons .lessons-by-week {
    font-size: 1.2em;
    padding: 0;
  }
  .all-lessons .lessons-by-week {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
  }
  .all-lessons .text-right {
    padding: 0;
  }
  .all-lessons .text-left {
    padding: 0;
  }
  .all-lessons .price {
    font-size: 2.2em;
    padding: 0;
    width: 100%;
  }
  .all-lessons button {
    width: 160px;
    margin: 0 25% 15px;
  }
  .all-lessons .image {
    display: none;
  }
  #native .lessoninfo {
    height: 100px;
  }
  #map .text {
    height: 70px;
    padding: 0;
  }
  #map .text h2 {
    margin-top: 20px;
    font-size: 1.8em;
  }
  #map .picture {
    background-size: 320px auto;
    background-position: 50% 50%;
    height: 100px;
  }
  #map .contact {
    height: auto;
  }
  #map .contact .phones {
    width: 100%;
    padding-left: 25%;
    font-size: 1.2em;
    border-bottom: 2px solid #fff;
  }
  #map .contact .feedbackform {
    width: 100%;
    margin-bottom: 15px;
  }
  #map .contact .feedbackform input {
    font-size: 1.2em;
  }
  #empty {
    height: 200px;
  }
  footer {
    text-align: center;
  }
  footer h2 {
    margin-left: 0;
  }
  footer a {
    margin-left: 0;
  }
  footer .contacts {
    width: 100%;
  }
}
