#wpadminbar {
  display: none;
}
html#htmltop {
  margin-top: 0 !important;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h2 {
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: 300;
}
@media (max-width: 500px) {
  h2 {
    margin-top: 20px;
  }
}
h2 span {
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
}
button {
  transition-duration: 1s;
}
.no-padd {
  padding: 0;
}
.empty-water {
  padding-left: 0;
  padding-right: 0;
  height: 100px;
  background: #fff;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
button,
button:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  box-shadow: none;
  border-color: none;
}
.nav-to-top {
  color: black;
  display: inline-block;
  position: fixed;
  right: 50px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3) url('../img/arrow.png') 50% 50% no-repeat;
  background-size: auto 70%;
  z-index: 100;
  border-radius: 50%;
}
.nav-to-top:hover {
  cursor: pointer;
}
.thank-for-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 40%;
  height: 100px;
  width: 300px;
  padding: 40px 20px;
  font-size: 1.2em;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.mini-message {
  display: none;
  position: fixed;
  width: 220px;
  height: 160px;
  padding: 65px 45px;
  text-align: center;
  background: url('../img/cloud.png') 50% 50% no-repeat;
  background-size: 100% auto;
  z-index: 100;
}
.mess1 {
  top: 75%;
  left: 10px;
}
.mess2 {
  top: 60%;
  right: 10px;
}
.mess3 {
  top: 65%;
  left: 10px;
}
.mess4 {
  top: 50%;
  right: 10px;
}
.english-page {
  background: url('../img/background_lessons.jpg') no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
header {
  background: #fff;
  position: fixed;
  top: 0;
  float: left;
  width: 100%;
  z-index: 9999;
}
header .head-contacts {
  background-color: #FFE94A;
  height: 28px;
}
header .mobile {
  float: right;
  color: #444444;
  font-weight: bold;
  line-height: 2em;
}
header .mobile:hover,
header .mobile:active {
  text-decoration: none;
}
header .custom-logo-link {
  height: auto;
  text-align: center;
  padding: 0 0 0 15px;
  float: left;
}
header .custom-logo-link .custom-logo {
  height: 70px;
  width: auto;
}
header nav.navbar {
  background: none;
  border: none;
  margin-bottom: 0;
  padding: 0;
  background: #fff;
  float: left;
  width: 100%;
}
header nav.navbar li a {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.2em;
}
header nav.navbar ul#primary-menu li a {
  color: #444444;
}
header nav.navbar ul#primary-menu li:first-child a {
  padding-left: 35px;
}
header nav.navbar ul#anchorMenu li a {
  color: #444444;
}
header nav.navbar li:hover {
  background: #f6f6f6;
}
#titlescreen {
  margin-top: 98px;
}
#titlescreen .titlescreen {
  height: 450px;
  background: #FFE94A;
  padding: 0;
}
#titlescreen .titlescreen h1 {
  margin-top: 135px;
  padding-bottom: 10px;
  border-bottom: 1px solid #444444;
  color: #444444;
  font-weight: normal;
  display: inline-block;
}
#titlescreen .titlescreen h3 {
  color: #444444;
}
#titlescreen .titlescreen p {
  color: #444444;
  font-size: 1.3em;
}
#titlescreen .titlescreen .titleimage {
  padding: 0;
  height: 450px;
  background: url('../img/head-bg.jpg') 50% 50% no-repeat;
  background-size: cover;
}
#titlescreen .titlescreen img {
  height: 100%;
}
#advantage {
  padding: 0;
  background: #fff;
}
#advantage .title {
  padding-top: 40px;
}
#advantage .about {
  padding-bottom: 50px;
}
#advantage .title-container {
  padding-left: 5%;
}
#advantage article.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
#advantage h2 {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
  line-height: 70px;
}
#advantage .logo {
  height: 70px;
  width: auto;
  float: right;
  display: inline-block;
}
#advantage p {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 30%;
}
#advantage p span {
  display: none;
}
#advantage h4 {
  margin: 0;
  display: block;
}
#advantage button {
  height: 30px;
  padding: 0 20px;
  background: #FFE94A;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
}
#advantage button:hover {
  background: #e3c700;
}
#advantage .adv {
  background: url('../img/adv_bg.jpg');
  background-size: cover;
  padding: 0;
}
#advantage .adv .adv-container {
  padding: 0;
}
#advantage .adv .background-mask {
  background: rgba(0, 0, 0, 0.7);
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
}
#advantage .adv .adv-cell {
  display: table;
  margin-bottom: 20px;
  text-align: left;
}
#advantage .adv img {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition-duration: 1s;
}
#advantage .adv .adv-cell:hover img {
  background: #2D004E;
  transform: rotate(360deg);
}
#advantage .adv h3 {
  display: table-cell;
  width: 80%;
  color: #fff;
  font-size: 16px;
  margin: 0;
  font-weight: lighter;
  vertical-align: middle;
}
#numbers {
  background: #fff;
}
#numbers .container-fluid {
  padding: 0;
}
#numbers .bordered {
  border-right: 1px solid #aaaaaa;
}
#numbers .numblock {
  padding-top: 90px;
  padding-bottom: 90px;
}
#numbers h2,
#numbers p {
  text-align: center;
}
#numbers h2 {
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  border-bottom: 1px solid #aaaaaa;
}
#numbers p.number {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 70px;
}
#numbers hr {
  width: 50px;
  display: block;
  margin: 0 auto;
  height: 3px;
  background: #444444;
  margin-bottom: 30px;
}
#numbers p.desc {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  height: 44px;
}
#town-water {
  background: transparent;
}
#town-water .container-fluid {
  padding: 0;
}
#town-water .town-text {
  width: 100%;
  color: #fff;
  background: #0D101B;
  padding: 40px 0 60px;
}
#town-water h2 {
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
  width: 220px;
  height: 120px;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
}
#town-water .logo {
  display: block;
  vertical-align: middle;
  width: 200px;
  height: auto;
}
#town-water p {
  text-align: center;
  float: left;
  font-size: 25px;
  margin: 0;
}
#town-water img {
  width: 100%;
  height: auto;
}
#lessons {
  padding: 0;
}
#lessons .bg-transparent {
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  background: rgba(255, 255, 255, 0.6);
}
#lessons h2 {
  text-align: center;
  margin-bottom: 30px;
}
#lessons .hexagon {
  width: 820px;
  padding-bottom: 30px;
  /* Custom styles*/
}
#lessons .hexagon .row1,
#lessons .hexagon .row2,
#lessons .hexagon .row3 {
  width: 100%;
  height: 200px;
}
#lessons .hexagon .row2,
#lessons .hexagon .row3 {
  margin-top: -10px;
}
#lessons .hexagon .hex {
  transform: rotate(90deg);
  width: 150px;
  height: 86px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 173px;
  position: relative;
  float: left;
  margin: 25px 5px 0px;
  text-align: center;
  zoom: 1;
  background: #fff;
}
#lessons .hexagon .hex:hover {
  background: #FFE94A;
}
#lessons .hexagon .odd {
  margin-top: 100px;
}
#lessons .hexagon .hex.hex-gap {
  margin-left: 35px;
}
#lessons .hexagon .hex a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
  position: absolute;
  top: 0;
  left: 0;
}
#lessons .hexagon .hex .corner-1,
#lessons .hexagon .hex .corner-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -2;
  overflow: hidden;
  backface-visibility: hidden;
}
#lessons .hexagon .hex .corner-1 {
  z-index: -1;
  transform: rotate(60deg);
}
#lessons .hexagon .hex .corner-2 {
  transform: rotate(-60deg);
}
#lessons .hexagon .hex .corner-1:before,
#lessons .hexagon .hex .corner-2:before {
  width: 173px;
  height: 173px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}
#lessons .hexagon .hex .corner-1:before {
  transform: rotate(-60deg) translate(-87px, 0px);
  transform-origin: 0 0;
}
#lessons .hexagon .hex .corner-2:before {
  transform: rotate(60deg) translate(-48px, -11px);
  bottom: 0;
}
#lessons .hexagon .hex .inner {
  color: #eee;
}
#lessons .hexagon .hex.empty {
  visibility: hidden;
}
#lessons .hexagon p {
  transform: rotate(-90deg);
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
#lessons .hexagon .hex:hover p {
  color: #2D004E;
}
#lessons .hexagon .standart p {
  top: 17px;
}
#lessons .hexagon .children p {
  top: 18px;
}
#lessons .hexagon .intensive p {
  top: 30px;
}
#lessons .hexagon .shipping p {
  top: 18px;
}
#lessons .hexagon .skype p {
  top: 20px;
}
#lessons .hexagon .native p {
  top: 10px;
}
#lessons .hexagon .speaking p {
  top: 15px;
}
#answer-callback {
  background: #FFE94A;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
#answer-callback h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#answer-callback input {
  height: 40px;
  width: 20%;
  margin-right: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  color: #444444;
  font-weight: bolder;
  font-size: 1.2em;
}
#answer-callback button {
  height: 40px;
  background: #FFE94A;
  border: 2px solid #000;
  border-radius: 5px;
  text-transform: uppercase;
}
#answer-callback button:hover {
  background: #e3c700;
}
#lesson_carousel a.carousel-control,
#lesson_carousel a.carousel-control:hover,
#lesson_carousel a.carousel-control:focus,
#lesson_carousel a.carousel-control:active {
  background: none;
}
#lesson_carousel a.carousel-control:visited {
  color: #fff;
}
.all-lessons {
  min-height: 450px;
  padding-bottom: 40px;
}
.all-lessons h2 {
  margin-top: 50px;
}
.all-lessons p {
  margin: 0;
}
.all-lessons p span {
  font-weight: bold;
}
.all-lessons br {
  display: none;
}
.all-lessons .lessoninfo {
  padding: 25px 0;
  height: 150px;
  border-bottom: 1px solid #444444;
  margin-bottom: 30px;
  vertical-align: middle;
}
.all-lessons .indiv {
  padding: 0 25px;
}
.all-lessons p.description {
  padding-left: 0;
}
.all-lessons .description {
  min-height: 90px;
  border-right: 1px solid #444444;
  padding-top: 10px;
}
.all-lessons ul.description {
  margin: 0;
}
.all-lessons p.description,
.all-lessons .lessons-by-week {
  padding-top: 10px;
}
.all-lessons .lessons-by-week {
  font-weight: 300;
}
.all-lessons .text-right {
  padding-left: 5%;
}
.all-lessons .text-left {
  padding-right: 5%;
}
.all-lessons .price {
  font-size: 3em;
  font-weight: normal;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}
.all-lessons .price span {
  font-size: 0.5em;
}
.all-lessons button {
  height: 40px;
  background: #fff;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: uppercase;
  color: #000;
}
.all-lessons button:hover {
  background: #cccccc;
}
#standart {
  background: #2D004E;
}
#standart .lessoninfo,
#standart .description {
  border-color: #fff;
}
#standart h2,
#standart p,
#standart button {
  color: #fff;
}
#standart button {
  background: #2D004E;
  border: 2px solid #6800b4;
}
#standart button:hover {
  background: #6800b4;
}
#standart .image {
  height: 450px;
  background: url('../img/standart-img.png') no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
#children {
  background: #fff;
}
#children .image {
  height: 450px;
  background: url('../img/children_img.jpg') no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
}
#intensive {
  background: #444444;
}
#intensive .lessoninfo,
#intensive .description {
  border-color: #fff;
}
#intensive h2,
#intensive p,
#intensive button {
  color: #fff;
}
#intensive button {
  background: #444444;
  border: 2px solid #777777;
}
#intensive button:hover {
  background: #777777;
}
#intensive .image {
  height: 450px;
  background: url('../img/intensive_img.png') no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
}
#shipping {
  background: #FFE94A;
}
#shipping button {
  background: #FFE94A;
  border: 2px solid #333333;
}
#shipping button:hover {
  background: #fff5b0;
}
#shipping .image {
  height: 450px;
  background: url('../img/shipping_img.png') no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
#native {
  background: #fff;
}
#native .description {
  border: none;
}
#native .image {
  height: 450px;
  background: url('../img/native-img.jpg') no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
}
#speaking-club {
  background: #000;
}
#speaking-club .lessoninfo,
#speaking-club .description {
  border-color: #FFE94A;
}
#speaking-club .description {
  border: none;
}
#speaking-club h2,
#speaking-club p,
#speaking-club button,
#speaking-club li {
  color: #FFE94A;
}
#speaking-club button {
  background: #000;
  border: 2px solid #333333;
}
#speaking-club button:hover {
  background: #333333;
}
#speaking-club .image {
  height: 450px;
  background: url('../img/speaking-club-img.png') no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
}
#skype {
  background: #fff;
}
#skype .description {
  border: none;
}
#skype .image {
  height: 450px;
  background: url('../img/skype-img.png') no-repeat;
  background-size: auto 70%;
  background-position: 50% 50%;
}
#teachers {
  background: #fff;
}
#teachers h2 {
  text-align: center;
}
#teachers article {
  margin-top: 30px;
  margin-bottom: 40px;
}
#teachers .image-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#teachers img {
  display: block;
  width: 195px;
  height: 195px;
  margin: 0 auto;
  border-radius: 50%;
  transition-duration: 1s;
}
#teachers article:hover img {
  width: 200px;
  height: 200px;
}
#teachers h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#teachers p {
  font-size: 14px;
  margin-bottom: 20px;
}
#teachers span {
  display: none;
}
#teachers button {
  float: right;
  height: 30px;
  padding: 0 20px;
  background: #444444;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
}
#teachers button:hover {
  background: #FFE94A;
  color: #444444;
}
#map {
  padding: 0;
}
#map hr {
  margin: 10px 0px;
}
#map h2 {
  text-align: center;
  margin-top: 10px;
}
#map h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.4em;
}
#map a {
  color: #fff;
}
#map a:hover {
  text-decoration: none;
}
#map .text,
#map .picture {
  height: 300px;
}
#map .text {
  background: #FFE94A;
}
@media (max-width: 767px) {
  #map .text {
    height: 70px;
    padding: 0;
  }
}
#map .text h2 {
  margin-top: 30px;
}
@media (max-width: 767px) {
  #map .text h2 {
    margin-top: 20px;
  }
}
@media (max-width: 415px) {
  #map .text h2 {
    font-size: 1.8em;
  }
}
#map .picture {
  background: #000 url('../img/map-bg.jpg') no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 767px) {
  #map .picture {
    background-size: 320px auto;
    background-position: 50% 50%;
    height: 100px;
  }
}
#map .googlemap {
  padding: 0px;
  height: 300px;
  margin: 0;
}
#map .contact {
  height: 300px;
  background: #444444;
  color: #fff;
  font-weight: lighter;
}
@media (max-width: 415px) {
  #map .contact {
    height: auto;
  }
}
@media (max-width: 860px) {
  #map .contact div {
    padding: 0;
  }
}
@media (max-width: 860px) {
  #map .contact a {
    font-size: 0.9em;
  }
}
@media (max-width: 860px) {
  #map .contact a.email {
    font-size: 0.8em;
  }
}
@media (max-width: 415px) {
  #map .contact .phones {
    width: 100%;
    padding-left: 25%;
    font-size: 1.2em;
    border-bottom: 2px solid #fff;
  }
}
@media (max-width: 415px) {
  #map .contact .feedbackform {
    width: 100%;
    margin-bottom: 15px;
  }
  #map .contact .feedbackform input {
    font-size: 1.2em;
  }
}
#mapFeedback input {
  display: block;
  height: 30px;
  width: 50%;
  margin: 10px auto 20px;
  border: 2px solid #cccccc;
  padding: 5px;
  color: #444444;
  font-size: 1em;
}
#mapFeedback button {
  display: block;
  height: 40px;
  margin: 0 auto;
  padding: 3px 20px;
  background: #444444;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
}
#mapFeedback button:hover {
  background: #2b2b2b;
}
#empty {
  padding-left: 0;
  padding-right: 0;
  height: 300px;
  background: #fff url('../img/empty-bg.png') left bottom repeat-x;
}
footer {
  min-height: 150px;
  background: #444444;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
}
footer .container {
  padding-left: 0;
  padding-right: 0;
}
footer h2 {
  margin-bottom: 20px;
  margin-left: 80px;
}
footer a {
  margin-left: 80px;
  color: #fff;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
footer .contacts {
  padding: 0;
}
body#mainPage {
  background: none;
  padding: 0;
}
body#mainPage .tagline-block {
  padding: 0;
  height: 9%;
  margin-top: 10%;
}
@media (max-width: 767px) {
  body#mainPage .tagline-block {
    margin-top: 1%;
  }
}
body#mainPage .tagline-block .tagline {
  display: none;
  margin: 0;
  margin-top: 1%;
  padding: 2% 0;
  color: #444444;
  background: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  body#mainPage .tagline-block .tagline {
    font-size: 1.1em;
    display: block;
  }
}
body#mainPage h2 {
  margin-top: 16%;
  line-height: 1.8em;
}
@media (max-width: 767px) {
  body#mainPage h2 {
    margin-top: 6%;
    font-size: 1.5em;
    line-height: 1.4em;
  }
}
body#mainPage h3 {
  display: none;
  line-height: 1.4em;
}
@media (max-width: 767px) {
  body#mainPage h3 {
    font-size: 1.1em;
    display: block;
    margin-top: 10px;
  }
}
body#mainPage span {
  font-weight: bold;
}
body#mainPage button {
  display: none;
  width: 140px;
  height: 40px;
  margin-top: 60px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-size: 1.1em;
}
@media (max-width: 767px) {
  body#mainPage button {
    display: inline-block;
    width: 100px;
    height: 35px;
    margin-top: 5px;
    font-size: 0.9em;
  }
}
body#mainPage button:hover {
  background: #ff6565;
}
body#mainPage .homepage {
  padding: 0;
}
body#mainPage .left,
body#mainPage .right {
  height: 100vh;
  padding: 0;
  text-decoration: none;
}
@media (max-width: 767px) {
  body#mainPage .left,
  body#mainPage .right {
    width: 100%;
  }
}
body#mainPage .left:hover,
body#mainPage .right:hover,
body#mainPage .left:active,
body#mainPage .right:active {
  text-decoration: none;
}
body#mainPage .left {
  text-align: right;
  background: #FFE94A;
  float: left;
}
@media (max-width: 767px) {
  body#mainPage .left {
    height: 55vh;
  }
}
body#mainPage .left h2,
body#mainPage .left h3 {
  color: #444444;
}
body#mainPage .left button {
  margin-right: 20px;
  background: #2D004E;
}
body#mainPage .left .tagline {
  color: #7700ce;
}
body#mainPage .right {
  text-align: left;
  float: right;
  background: #444444;
}
@media (max-width: 767px) {
  body#mainPage .right {
    height: 45vh;
  }
}
body#mainPage .right h2,
body#mainPage .right h3 {
  color: #fff;
}
body#mainPage .right button {
  margin-left: 20px;
  background: #FE0000;
}
@media (max-width: 767px) {
  body#mainPage .right .tagline-block {
    display: none;
  }
}
body#mainPage .right .tagline {
  color: #FE0000;
}
body#mainPage .picture {
  display: none;
  padding: 0;
  background: none;
  height: 100vh;
}
body#mainPage .picture img {
  margin-top: 15%;
  padding: 0;
}
@media (max-width: 1199px) {
  body#mainPage .picture img {
    position: relative;
    top: 20%;
  }
}
