// VARIABLE
@yellow: #FFE94A;
@purple: #2D004E;
@gray: #444444;
@white: #fff;
@black: #000;
@red: #FE0000;
// END VARIABLE

// TMP
#wpadminbar{
	display: none;
}
html#htmltop{
	margin-top: 0 !important;
}
// END TMP 

// COMMON
@media (max-width: 1199px){
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){
	
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
h2{
	text-transform: uppercase;
	margin-top: 40px;
	font-weight: 300;

	@media (max-width: 500px){
		margin-top: 20px;
	}

	span{
		font-weight: bold;
	}
}
img{
	width: 100%;
	height: auto;
}
button{
	transition-duration: 1s;
}
.no-padd{
	padding: 0;
}
.empty-water{
	padding-left: 0;
	padding-right: 0;
	height: 100px;
	background: @white;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
button,
button:hover,
button:focus, 
input[type="button"]:focus, 
input[type="reset"]:focus, 
input[type="submit"]:focus, 
button:active, 
input[type="button"]:active, 
input[type="reset"]:active, 
input[type="submit"]:active
{
	box-shadow: none;
	border-color: none;
}

// TO BEGIN ARROW
.nav-to-top{
	color: black;
	display: inline-block;
	position: fixed;
	right: 50px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,0.3) url('../img/arrow.png') 50% 50% no-repeat;
	background-size: auto 70%;
	z-index: 100;
	border-radius: 50%;

}
.nav-to-top:hover{
	cursor: pointer;
}
// END TO BEGIN ARROW

// THANK FOR FORM
.thank-for-form{
	display: none;
	position: fixed;
	top: 50%;
	left: 40%;
	height: 100px;
	width: 300px;
	padding: 40px 20px;
	font-size: 1.2em;
	font-weight: bold;
	background: rgba(255,255,255,0.5);
	z-index: 100;
}
// END THANK FOR FORM

// MINI-MESSAGE
.mini-message{
	display: none;
	position: fixed;
	width: 220px;
	height: 160px;
	padding: 65px 45px;
	text-align: center;
	background: url('../img/cloud.png') 50% 50% no-repeat;
	background-size: 100% auto;
	z-index: 100;
}
.mess1{
	top: 75%;
	left:10px;
}
.mess2{
	top: 60%;
	right:10px;
}
.mess3{
	top: 65%;
	left:10px;
}
.mess4{
	top: 50%;
	right:10px;
}
// END MINI-MESSAGE

// LESSONS BACKGROUND
.english-page{
	background: url('../img/background_lessons.jpg') no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
// HEADER
header{
	background: @white;
	position: fixed;
	top: 0;
	float: left;
	width: 100%;
	z-index: 9999;


	.head-contacts{
		background-color: @yellow;
		height: 28px;
	}
	.mobile{
		float:right;
		color: @gray;
		font-weight: bold;
		line-height: 2em;
	}
	.mobile:hover, .mobile:active{
		text-decoration: none;
	}
	.custom-logo-link{
			height: auto;
			text-align: center;
			padding: 0 0 0 15px;
			float: left;

			.custom-logo{
				height: 70px;
				width: auto;
			}
		}
	nav.navbar{
		background: none;
		border: none;
		margin-bottom: 0;
		padding: 0;
		background: @white;
		float: left;
		width: 100%;
		
		li{
			a{
				padding-top: 25px;
				padding-bottom: 25px;
				font-size: 1.2em;
			}
		}
		ul#primary-menu{
			li{
				a{
					color: @gray;
				}

				&:first-child{
					
					a{
						padding-left: 35px;
					}
				}
			}
		}
		ul#anchorMenu{
			li{
				a{
					color: @gray;
				}
			}
		}
		li:hover{
			background: lighten(@gray, 70%);
		}
		
	}

}
// END HEADER

// TITLE SCREEN
#titlescreen{
	margin-top: 98px;

	.titlescreen{
		height: 450px;
		background: @yellow;	
		padding: 0;
		
		h1{
			margin-top: 135px;
			padding-bottom: 10px;
			border-bottom: 1px solid @gray;
			color: @gray;
			font-weight: normal;
			display: inline-block;
		}
		h3{
			color: @gray;
		}
		p{
			color: @gray;
			font-size: 1.3em;
		}
		.titleimage{
			padding: 0;
			height: 450px;
			background: url('../img/head-bg.jpg') 50% 50% no-repeat;
			background-size: cover;
		}
		img{
			height: 100%;
		}
	}
}
// END TITLE SCREEN

//ADVANTAGES
#advantage{
	padding: 0;
	background: @white;
	.title{
		padding-top: 40px;
	}
	.about{
		padding-bottom: 50px;
	}
	.title-container{
		padding-left: 5%;
	}
	article.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	h2{
		float: left;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;	
		padding: 0;
		line-height: 70px;
	}
	.logo{
		height: 70px;
		width: auto;
		float: right;
		display: inline-block;
	}
	p{
		margin-bottom: 30px;
		padding-left: 0;
		padding-right: 30%;

		span{
			display: none;
		}
	}
	h4{
		margin: 0;
		display: block;
	}
	button{
		height: 30px;
		padding: 0 20px;
		background: @yellow;
		border: none;
		border-radius: 5px;
		font-size: 12px;
		text-transform: uppercase;
	}
	button:hover{
		background: darken(@yellow, 20%);
	}
	.adv{
		background: url('../img/adv_bg.jpg');
		background-size: cover;
		padding: 0;
		
		.adv-container{
			padding: 0;
		}
		.background-mask{
			background: rgba(0,0,0,0.7);
			padding-top: 60px;
			padding-bottom: 40px;
			padding-left: 0;
			padding-right: 0;
		}
		.adv-cell{
			display: table;
			margin-bottom: 20px;
			text-align: left;
		}
		img{
			display: block;
			float: left;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			transition-duration: 1s;
		}
		.adv-cell:hover img{
			background: @purple;
			transform: rotate(360deg);
		}
		h3{	
			display: table-cell;
			width: 80%;
			color: @white;
			font-size: 16px;
			margin: 0;
			font-weight: lighter;
			vertical-align: middle;
		}
	}
}
// END ADVANTAGE

// NUMBERS
#numbers{
	background: @white;
	
	.container-fluid{
		padding: 0;
	}
	.bordered{
		border-right: 1px solid lighten(@gray, 40%);
	}
	.numblock{
		padding-top: 90px;
		padding-bottom: 90px;
	}
	h2, p{
		text-align: center;
	}
	h2{
		margin-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 0;
		border-bottom: 1px solid lighten(@gray, 40%);
	}
	p.number{
		font-size: 70px;
		font-weight: bold;
		margin-bottom: 20px;
		line-height: 70px;
	}
	hr{
		width: 50px;
		display: block;
		margin: 0 auto;
		height: 3px;
		background: @gray;
		margin-bottom: 30px;
	}
	p.desc{
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0;
		height: 44px;
	}
}
// END NUMBERS

// TOWN WATER
#town-water{
	background: transparent;
	
	.container-fluid{
		padding: 0;
	}
	.town-text{
		width: 100%;
		color: @white;
		background: #0D101B;
		padding: 40px 0 60px;
	}
	h2{
		border-radius: 50%;
		background: @white;
		margin: 0 auto;
		width: 220px;
		height: 120px;
		padding-top: 20px;
		padding-left: 10px;
		margin-bottom: 20px;
	}
	.logo{
		display: block;
		vertical-align: middle;
		width: 200px;
		height: auto;
	}
	p{ 
		text-align: center;
		float: left;
		font-size: 25px;
		margin: 0;
	}
	img{
		width: 100%;
		height: auto;
	}
}
// END TOWN WATER

// LESSONS
#lessons{
	padding: 0;

	.bg-transparent{
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
		background: rgba(255,255,255,0.6);
	}
	h2{
		text-align: center;
		margin-bottom: 30px;
	}
	.hexagon{
		width: 820px;
		padding-bottom: 30px;

		.row1, .row2, .row3{
			width: 100%;
			height: 200px;
		}
		.row2, .row3{
			margin-top: -10px;
		}
		.hex {
			transform: rotate(90deg);
			width:150px;
			height:86px;
			background-color: #ccc;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: auto 173px;
			position: relative;
			float:left;
			margin:25px 5px 0px;
			text-align:center;
			zoom:1;
			background: @white;
		}
		.hex:hover{
			background: @yellow;
		}
	    .odd{
	      	margin-top: 100px;
	    }

	    .hex.hex-gap {
	        margin-left: 35px;
	    }
	    .hex a {
	        display:block;
	        width: 100%;
	        height:100%;
	        text-indent:-9999em;
	        position:absolute;
	        top:0;
	        left:0;
	    }
	    .hex .corner-1,
	    .hex .corner-2 {
	        position: absolute;
	        top:0;
	        left:0;
	        width:100%;
	        height:100%;
	        background: inherit;
	        z-index:-2;
	        overflow:hidden;
	        backface-visibility: hidden;
	    }
	    .hex .corner-1 {
	        z-index:-1;
	        transform: rotate(60deg);
	    }
	    .hex .corner-2 {
	        transform: rotate(-60deg);
	    }
	    .hex .corner-1:before,
	    .hex .corner-2:before {
	        width: 173px;
	        height:    173px;
			content: '';
			position: absolute;
			background: inherit;
			top:0;
			left: 0;
			z-index: 1;
			background: inherit;
			background-repeat:no-repeat;
	        backface-visibility: hidden;
	    }            
	    .hex .corner-1:before {
	        transform: rotate(-60deg) translate(-87px, 0px);
	      	transform-origin: 0 0;
	    }            
	    .hex .corner-2:before {
	        transform: rotate(60deg) translate(-48px, -11px);
	        bottom:0;
	    }        

	    /* Custom styles*/
	    .hex .inner {
	        color:#eee;
	    }
	    .hex.empty{
	    	visibility: hidden;
	    	
	    }
	    p{
			transform: rotate(-90deg);
			width: 100%;
			text-align: center;
			position: absolute;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			color: @black;
		}
		.hex:hover p{
			color: @purple;
		}
		.standart{

			p{
				top: 17px;
				
			}
		}
		.children{

			p{
				top: 18px;
			}
		}
		.intensive{
			
			p{
				top: 30px;
			}
		}
		.shipping{

			p{
				top: 18px;
			}
		}
		.skype{

			p{
				top: 20px;
			}
		}
		.native{

			p{
				top: 10px;
			}
		}
		.speaking{

			p{
				top: 15px;
			}
		}
	}
}
// END LESSONS

// ANSWER CALLBACK
#answer-callback{
	background: @yellow;
	padding-bottom: 30px;
	padding-left: 0;
	padding-right: 0;

	h2{
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	input{
		height: 40px;
		width: 20%;
		margin-right: 20px;
		border: 2px solid @black;
		border-radius: 5px;
		padding: 5px;
		color: @gray;
		font-weight: bolder;
		font-size: 1.2em;
	}
	button{
		height: 40px;
		background: @yellow;
		border: 2px solid @black;
		border-radius: 5px;
		text-transform: uppercase;
	}
	button:hover{
		background: darken(@yellow, 20%);
	}
}
// END ANSWER CALLBACK



// ALL LESSONS

	// SLIDER STYLE
#lesson_carousel{
	
	a.carousel-control,
	a.carousel-control:hover,
	a.carousel-control:focus,
	a.carousel-control:active{
		background: none;
	}
	a.carousel-control:visited{
		color: #fff;
	}
}
.all-lessons{
	min-height: 450px;
	padding-bottom: 40px;

	h2{
		margin-top: 50px;
	}
	p{
		margin:0;

		span{
			font-weight: bold;
		}
	}
	br{
		display: none;
	}
	.lessoninfo{
		padding: 25px 0;
		height: 150px;
		border-bottom: 1px solid @gray;
		margin-bottom: 30px;
		vertical-align: middle;
	}
	.indiv{	
		padding: 0 25px;
	}
	p.description{
		padding-left: 0;
	}
	.description{
		min-height: 90px;
		border-right: 1px solid @gray;
		padding-top: 10px;
	}
	ul.description{
		margin: 0;
	}
	p.description, .lessons-by-week{
		padding-top: 10px;
	}
	.lessons-by-week{
		font-weight: 300;
	}
	.text-right{
		padding-left: 5%;
	}
	.text-left{
		padding-right: 5%;
	}
	.price{
		font-size: 3em;
		font-weight: normal;
		text-align: left;
		margin-top: 15px;
		margin-bottom: 25px;

		span{
			font-size: 0.5em;
		}
	}
	button{
		height: 40px;
		background: @white;
		border: 2px solid black;
		border-radius: 5px;
		text-transform: uppercase;
		color: @black;
	}
	button:hover{
		background: darken(@white, 20%);
	}
}
	// STANDART
#standart{
	background: @purple;

	.lessoninfo, .description{
		border-color: @white;
	}
	h2, p, button{
		color: @white;
	}
	button{
		background: @purple;
		border: 2px solid lighten(@purple, 20%);
	}
	button:hover{
		background: lighten(@purple, 20%);
	}

	.image{
		height: 450px;
		background: url('../img/standart-img.png') no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}
}
	// END STANDART
	// CHILDREN
#children{
	background: @white;
	
	.image{
		height: 450px;
		background: url('../img/children_img.jpg') no-repeat;
		background-size: auto 100%;
		background-position: 50% 50%;
	}
}
	// END CHILDREN
	// INTENSIVE
#intensive{
	background: @gray;
	.lessoninfo, .description{
		border-color: @white;
	}
	h2, p, button{
		color: @white;
	}
	button{
		background: @gray;
		border: 2px solid lighten(@gray, 20%);
	}
	button:hover{
		background: lighten(@gray, 20%);
	}

	.image{
		height: 450px;
		background: url('../img/intensive_img.png') no-repeat;
		background-size: auto 100%;
		background-position: 50% 50%;
	}
}
	// END INTENSIVE
	// SHIPPING
#shipping{
	background: @yellow;
	button{
		background: @yellow;
		border: 2px solid lighten(black, 20%);
	}
	button:hover{
		background: lighten(@yellow, 20%);
	}

	.image{
		height: 450px;
		background: url('../img/shipping_img.png') no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}
}
	// END SHIPPING
	// NATIVE
#native{
	background: @white;

	.description{
		border: none;
	}

	.image{
		height: 450px;
		background: url('../img/native-img.jpg') no-repeat;
		background-size: auto 100%;
		background-position: 50% 50%;
	}
}
	// END NATIVE
	// SPEAKING CLUB
#speaking-club{
	background: @black;
	.lessoninfo, .description{
		border-color: @yellow;
	}
	.description{
		border: none;
	}
	h2, p, button, li{
		color: @yellow;
	}
	button{
		background: @black;
		border: 2px solid lighten(@black, 20%);
	}
	button:hover{
		background: lighten(@black, 20%);
	}

	.image{
		height: 450px;
		background: url('../img/speaking-club-img.png') no-repeat;
		background-size: auto 100%;
		background-position: 50% 50%;
	}
}
	// END SPEAKING CLUB
	// SKYPE
#skype{
	background: @white;

	.description{
		border: none;
	}
	.image{
		height: 450px;
		background: url('../img/skype-img.png') no-repeat;
		background-size: auto 70%;
		background-position: 50% 50%;
	}
}
	// END SKYPE

// END ALL LESSONS


//TEACHERS
#teachers{
	background: @white;

	h2{
		text-align: center;
	}
	article{
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.image-container{
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
	img{
		display: block;
		width: 195px;
		height: 195px;
		margin: 0 auto;
		border-radius: 50%;
		transition-duration: 1s;
	}
	article:hover img{
		width: 200px;
		height: 200px;
	}
	h3{
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
	p{
		font-size: 14px;
		margin-bottom: 20px;
	}
	span{
		display: none;
	}
	button{
		float: right;
		height: 30px;
		padding: 0 20px;
		background: @gray;
		color: @white;
		border-radius: 5px;
		border: none;
		font-size: 12px;
		text-transform: uppercase;
	}
	button:hover{
		background: @yellow;
		color: @gray;
	}
}
//END TEACHERS

// MAP
#map{
	padding: 0;
	hr{
		margin:10px 0px;
	}
	h2{
		text-align: center;
		margin-top: 10px;
	}
	h3{
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 1.4em;
	}
	a{
		color: @white;
	}
	a:hover{
		text-decoration: none;
	}
	.text, .picture{
		height: 300px;
	}
	.text{
		background: @yellow;

		@media (max-width: 767px){
			height: 70px;
			padding: 0;	
		}	

		h2{
			margin-top: 30px;

			@media (max-width: 767px){
				margin-top: 20px;	
			}
			@media (max-width: 415px){
				font-size: 1.8em;
			}		
		}	
	}
	.picture{
		background: @black url('../img/map-bg.jpg') no-repeat;
		background-size: 100% 100%;

		@media (max-width: 767px){
			background-size: 320px auto;
			background-position: 50% 50%;
			height: 100px;
		}
	}
	.googlemap{
		padding: 0px;
		height: 300px;
		margin: 0;
	}
	.contact{
		height: 300px;
		background: @gray;
		color: @white;
		font-weight: lighter;

		@media (max-width: 415px){
			height:auto;
		}

		div{
			@media (max-width: 860px){
				padding: 0;	
			}	
		}
		a{
			@media (max-width: 860px){
				font-size: 0.9em;
			}
		}
		a.email{
			@media (max-width: 860px){
				font-size: 0.8em;
			}
		}
		.phones{
			@media (max-width: 415px){
				width: 100%;
				padding-left: 25%;
				font-size: 1.2em;
				border-bottom: 2px solid @white;
			}
		}
		.feedbackform{
			@media (max-width: 415px){
				width: 100%;
				margin-bottom: 15px;
				
				input{
					font-size: 1.2em;
				}
			}
		}
	}
}
#mapFeedback{
	input{
		display: block;
		height: 30px;
		width: 50%;
		margin: 10px auto 20px;
		border: 2px solid darken(@white, 20%);
		padding: 5px;
		color: @gray;
		font-size: 1em;
	}
	button{
		display: block;
		height: 40px;
		margin: 0 auto;
		padding: 3px 20px;
		background: @gray;
		border: 2px solid @white;
		border-radius: 5px;
		text-transform: uppercase;
	}
	button:hover{
		background: darken(@gray, 10%);
	}
}
// END MAP

// ----------------------------------------------------------------------------------------------

// MAIN PAGE
body#mainPage{
	background: none;
	padding: 0;
	
	.tagline-block{
		padding: 0; 
		height: 9%;
		margin-top: 10%;
		@media (max-width: 767px){
			margin-top: 1%;
		}
		
		.tagline{
			display: none;
			margin: 0;
			margin-top: 1%;
			padding: 2% 0;
			color: @gray;
			background: @white;
			font-family: 'Cuprum', sans-serif;
			font-size: 2em;
			font-weight: bold;
			line-height: 1em;
			text-transform: uppercase;
			text-align: center;

			@media (max-width: 767px){
				font-size: 1.1em;
				display: block;
			}
		}
	}
	h2{
		margin-top: 16%;
		line-height: 1.8em;
		@media (max-width: 767px){
			margin-top: 6%;
			font-size: 1.5em;
			line-height: 1.4em;
		}
	}
	h3{
		display: none;
		line-height: 1.4em;
		@media (max-width: 767px){
			font-size: 1.1em;
			display: block;
			margin-top: 10px;
		}
	}
	span{
		font-weight: bold;
	}
	button{
		display: none;
		width: 140px;
		height: 40px;
		margin-top: 60px;
		border-radius: 5px;
		text-transform: uppercase;
		color: @white;
		border: none;
		font-size: 1.1em;

		@media (max-width: 767px){
			display: inline-block;
			width: 100px;
			height: 35px;
			margin-top: 5px;
			font-size: 0.9em;

		}
	}
	button:hover{
		background: lighten(@red, 20%);
	}
	.homepage{
		padding: 0;
	}
	.left, .right{
		height: 100vh;
		padding: 0;
		text-decoration: none;
		@media (max-width: 767px){
			width: 100%;
		}
	}
	.left:hover, .right:hover, .left:active, .right:active{
		text-decoration: none;
	}
	.left{
		text-align: right;
		background: @yellow;
		float: left;

		@media (max-width: 767px){
			height: 55vh;
		}

		h2, h3{
			color: @gray;
		}
		button{
			margin-right: 20px;
			background: @purple;
		}
		.tagline{
			color: lighten(@purple, 25%);
		}
	}
	.right{
		text-align: left;
		float: right;
		background: @gray;

		@media (max-width: 767px){
			height: 45vh;
		}
		
		h2, h3{
			color: @white;
		}
		button{
			margin-left: 20px;
			background: @red;
		}
		.tagline-block{
			@media (max-width: 767px){
				display: none;
			}
		}
		.tagline{
			color: @red;
		}
	}
	.picture{
		display: none;
		padding: 0;
		background: none;
		height: 100vh;
		
		img{
			margin-top: 15%;
			padding: 0;

			@media (max-width: 1199px){
				position: relative;
				top: 20%;
			}
		}
	}

}	
// END MAIN PAGE
